.fallingObj {
  animation: fall 4s linear;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: gray;
}
@keyframes fall {
  0% {
    transform: translateY(-700px);
  }
  100% {
    transform: translateY(0);
  }
}